.App {
  display: flex;
  min-width: 400px;
  margin-bottom: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* customize me! */
}

.Resume {
  flex-basis: 90%;
}

.spacer {
  flex-grow: 1;
}

main {
  display: flex;
  flex-flow: row wrap;
}

.experience {
  flex: 8;
  min-width: 60%;
  margin-right: 2em;
}

.sidebar {
  flex: 4;
  min-width: 340px;
}

h1 {
  color: #03506f; /* customize me! */
  font-size: 3em;
  font-weight: normal;
  margin-block-start: 0.75em;
  margin-block-end: 0.1em;
}

h2 {
  color: #03506f; /* customize me! */
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #000;
  line-height: 1.4em;
  margin-block-end: 0.4em;
}


h3 {
  font-size: 1.1em;
  line-height: 1.1em;
  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
  margin-block-start: 0;
  margin-block-end: 0.1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .name {
  flex: 6;
}

header .links {
  flex: 5;
  text-align: right;
}

header .links {
  margin-top: 2.4em;
}

.experience ul.experienceList, 
.education ul.educationList {
  margin-block-start: 0;
  padding-inline-start: 0;
}

.experience li.experienceItem, 
.education li.educationItem {
  list-style: none;
  margin-bottom: 1em;
}

.experience li.experienceItem:last-child, 
.education li.educationItem:last-child {
  margin-bottom: 0p;
}

.experience li.experienceItem .summary,
.education li.educationItem .summary {
  display: flex;
  margin-bottom: 0.15em;
}

.experience li.experienceItem .info,
.education li.educationItem .info {
  flex: 1;
}

.experience li.experienceItem .context
.education li.educationItem .context {
  flex: 1;
}

.experience li.experienceItem .when,
.education li.educationItem .when {
  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
}

.experience li.experienceItem .where {
  font-style: italic;
  text-align: right;
}

.experience ul.details {
  list-style: none;
}

.experience .details li:before {
  content: "•";
  color: #03506f; /* customize me! */
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.skillsList .category {
  margin-bottom: 0.5em;
}

.educationList .gpa {
  text-align: right;
}

.educationList .coursework {
  margin-block-start: 0.5em;
}

.educationList .title {
  font-weight: bold;
  line-height: 1em;
}

@media print {
  .App {
    font-size: 8.9pt;
    margin-bottom: 0;
  }

  .Resume {
    flex-basis: 100%;
  }

  main {
    display: block;
  }

  .spacer {
    flex: 0;
  }

  .experience {
    flex: 8;
    margin-right: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }
}
